h2{text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif

}


.external{
    color:goldenrod ;
    text-align: center;
    font-size: 50px;
   
}

.prf2{
    color: cornflowerblue;
    text-align: left;
}

.idTest{ text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif

}